header{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    /* border:1px solid red; */
    background: #fff;
    position: fixed;
    transform: translateY(0);
    transition: .5s ease-out;
}


header.hide{
    transform: translateY(-100%);
    transition: .5s ease-in;
}
.logo h1{
    font-size: 27px;
    letter-spacing: 2px;
}

@media screen and (max-width: 475px){
    .logo h1{
        margin-top: 20px;
        font-size: 20px;
    }
}