header{
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    /* border:1px solid red */
}

.logo h1{
    font-size: 27px;
    letter-spacing: 2px;
}

@media screen and (max-width: 475px){
    .logo h1{
        margin-top: 20px;
        font-size: 20px;
    }
}