.project{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 120px;
}
.project h1{
    color: #000;
}
.project-links{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(134, 134, 134,.3);
    padding-bottom: 20px;
    margin-bottom: 40px;
}
.project-links a{
    font-size: 14px;
    padding:0;
    color: rgb(134, 134, 134);

}
.vertical-line{
    height: 12px;
    background-color: rgba(134, 134, 134,.5);
    width: 1px;
}
.project-links a:first-child{
    padding-right: 15px;
}
.project-links a:last-child{
    padding-left: 15px;
}
.project-images-container{
    width: 100%;
}
.main-project-img{
    border: 2px solid rgba(189, 151, 82,.5);
}
.project-video{
    display: block;
    width: 100%;
}
.project-description{
    width: 100%;
    background-color: #f2f2f2;
    padding: 0 15%;
    padding-bottom: 20px;
}
.project-tech{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    padding-top:20px;
}
.project-tech p{
    border: 1px solid rgba(72, 84, 74, 0.459);
    padding: 0 25px;
    margin-bottom: 15px;
}
.project-details-link{
    display: inline-block;
    margin-top: 30px;
    background-color: #48544a;
    padding:10px 35px;
    color: #fff;
}
@media screen and ( max-width: 770px){
    .project-description{
        padding: 0 15px;
        padding-bottom: 20px;
    }
}