#menu-icon-container{
    display: inline-block;
    cursor: pointer;
    position: fixed;
    z-index: 10;
    top:25px;
    background-color: white;
    padding: 10px;
}

  .bar1, .bar3 {
    width: 35px;
    height: 2px;
    background-color: rgba(0,0,0,.7);
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .invis {
    width: 35px;
    height: 2px;
    margin: 6px 0;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
    transform: rotate(45deg) translate(-5px, -6px);
  }
nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    padding-top: 140px;
    padding-left: 10%;
    width: 50%;
    background: rgb(225, 230, 226);
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    transform: translateX(-120%);
    text-align: left;

}
nav.show{
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    transform: translate(0%)
}
nav a{
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 1.5em;
}
nav a:hover{
    transition:1s;
    -webkit-transition:1s;
    -moz-transition:1s;
    color: black;
}

@media screen and (max-width: 475px){
    #menu-icon-container{
        top: 40px
    }
    .bar1, .bar3 {
        width: 27px;
        margin: 3px 0;
    }
    .invis {
        width: 27px;
        margin: 3px 0;
    }
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-4px, 3px);
        transform: rotate(-45deg) translate(-4px, 3px);
      }
      
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-4px, -3px);
        transform: rotate(45deg) translate(-4px, -3px);
    }
    nav{
        width: 70%;
    }
    nav a{
        font-size: 15px;
    }
}